/* ------------------------------------------------------------------------- */
/* global styling */
/* ------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-1: #e67e22;
  --clr-2: #bf6516;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* link styling */

a:link,
a:visited {
  color: var(--clr-1);
  text-decoration: none;
  border-bottom: 1px solid var(--clr-1);
  padding-bottom: 1px;
  transition: border-bottom 0.2s, color 0.2s;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  -moz-transition: border-bottom 0.2s, color 0.2s;
  -ms-transition: border-bottom 0.2s, color 0.2s;
  -o-transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ------------------------------------------------------------------------- */
/* headings styles */
/* ------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: var(--clr-1);
  content: " ";
  width: 100px;
  margin: 30px auto 0 auto;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* paragraph styles */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* icon styles */

.features-icon {
  font-size: 350%;
  color: var(--clr-1);
}

/* ------------------------------------------------------------------------- */
/* header styling */
/* ------------------------------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px;
}

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--clr-1);
}

/* Mobile navi */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px rgb(231, 231, 231);
  z-index: 9999;
}
.sticky .main-nav {
  margin-top: 15px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}
.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

/* ------------------------------------------------------------------------- */
/* button styling */
/* ------------------------------------------------------------------------- */

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: var(--clr-1);
  border: 1px solid var(--clr-1);
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--clr-1);
  color: var(--clr-1);
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: var(--clr-2);
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--clr-2);
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--clr-2);
  color: #fff;
}

/* ------------------------------------------------------------------------- */
/* features section styling */
/* ------------------------------------------------------------------------- */

.section-features .long-copy {
  margin-bottom: 30px;
}

/* ------------------------------------------------------------------------- */
/* meals section styling */
/* ------------------------------------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transition: transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  -ms-transition: transform 0.5s, opacity 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

/* ------------------------------------------------------------------------- */
/* how-it-works section styling */
/* ------------------------------------------------------------------------- */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: var(--clr-1);
  border: 2px solid var(--clr-1);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app-apple:link,
.btn-app-apple:visited {
  border: 0;
}

.btn-app-android:link,
.btn-app-android:visited {
  border: 0;
}

.btn-app-apple img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.btn-app-android img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------- */
/* cities section styling */
/* ------------------------------------------------------------------------- */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.cities-icon {
  display: inline-block;
  width: 30px;
  font-size: 120%;
  color: var(--clr-1);
  margin-right: 10px;

  /* to align text and icon */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -8px;
}

.city-feature {
  margin-bottom: 5px;
}

/* ------------------------------------------------------------------------- */
/* testimonials section styling */
/* ------------------------------------------------------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.customer {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
.customer img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------- */
/* plans section styling */
/* ------------------------------------------------------------------------- */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 300;
    margin-bottom: 10px;
    color: var(--clr-1);
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-icons {
    font-size: 60%;
    margin-right: 15px;
}

/* ------------------------------------------------------------------------- */
/* plans section styling */
/* ------------------------------------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #555;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}

.form-messages {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.success {
  background-color: rgb(59, 250, 59);
}

.error {
  background-color: rgb(243, 79, 79);
}

/* ------------------------------------------------------------------------- */
/* footer styling */
/* ------------------------------------------------------------------------- */

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style:none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

/* official site colors */
.facebook-icon:hover {
    color: #1877f2;
}

.twitter-icon:hover {
    color: #1da1f2;
}

.instagram-icon:hover {
    color: #c32aa3;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------- */
/* animate.css */
/* ------------------------------------------------------------------------- */

.js--wp-1,
.js--wp-2, 
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}